html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(4, 36, 4, 0.712);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: 4px solid rgb(114, 114, 114);
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    padding: 20px;
}

.visor {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(61, 150, 61);
    height:100px;
    border: 5px solid rgb(11, 29, 10);
    padding: 30px 20px 20px;
    font-size: 70px;
    font-family: 'Segment7Standard';
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
    gap: 2px;
}

div button:active {
    background-color: rgb(255, 255, 0, 0.8);
}

.row {
    flex: 1;
    display: flex;
    gap: 2px;
}

.btn {
    width: 123.5px;
    font-size: 40px;
    border-radius: 5%;
    background-color: rgb(32, 152, 250);
}

.equal {
    flex: 1;
    background-color: rgb(219, 219, 123);
}

.op {
    background-color: rgb(255, 125, 19);
}

.del,.ac, .other {
    background-color: rgb(174, 174, 255);
}

.btn img {
    height: 60px;
    padding-top: 7px;
}
